name: Generate and Publish Dokka Docs

on:
  release:
    types: [published]
  push:
    branches:
      - feat/autogenerate-docs
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "zulu"
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Generate Dokka documentation
        run: ./gradlew dokkaHtml

      - name: Upload documentation artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dokka-docs
          path: reference-docs
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install Netlify
        run: npm install netlify-cli@23 -g

      - name: Download docs artifact
        uses: actions/download-artifact@v5
        with:
          name: dokka-docs
          path: reference-docs

      - name: Deploy to Netlify
        run: netlify deploy --prod --dir reference-docs --site 37a34c3e-f83c-44f3-8e0d-94570eb9f8fd --auth ${{ secrets.NETLIFY_API_TOKEN }}
